<%- include('../partials/header.ejs', { title: `Edit ${food.name}` }) %>

    <h1>Edit <%= food.name %></h1>
    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT" method="POST">
      <label for="name">Food Name:</label>
      <input type="text" name="name" id="name" value="<%= food.name %>" required />
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="<%= food.quantity %>" required />
      <button type="submit">Update Food</button>
    </form>

<%- include('../partials/footer.ejs') %>