<%- include('../partials/header.ejs', { title: `${pantryOwner.username}'s Pantry` }) %>

      <h1><%= pantryOwner.username %>'s Pantry</h1>
      <ul>
        <% if (pantryOwner && pantryOwner.pantry && pantryOwner.pantry.length > 0) { pantryOwner.pantry.forEach(function(food) { %>
          <li>
            <span><%= food.name %> - Quantity: <%= food.quantity %></span>
            <div>
            <% if (user && pantryOwner._id.equals(user._id)) { %>
              <a href="/users/<%= pantryOwner._id %>/foods/<%= food._id %>/edit">Edit</a>
              <form action="/users/<%= pantryOwner._id %>/foods/<%= food._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            <% } %>
            </div>
          </li>
        <% }) } else { %>
          <li>This pantry is empty.</li>
        <% } %>
      </ul>

<%- include('../partials/footer.ejs') %>
